:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
}

section {
  padding-top: 20px;
}

.section-heading {
  font-size: xx-large;
  font-weight: bold;
}

.entry-section {
  margin-top: 20px;
}

.entry {
  border-bottom: solid #eeeeee;
  padding: 10px 0;
}

.add-button {
  position: absolute;
  background-color: black;
  color: white;
  border-radius: 100%;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 20px;
  padding-bottom: 5px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
