:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
}

body {
  overflow: hidden;
}

section {
  padding-top: 20px;
}

.section-heading {
  font-size: xx-large;
  font-weight: bold;
}

.date {
  color: #aaaaaa;
  font-size: 14px;
}

.entry-section {
  margin-top: 20px;
  overflow-y: auto;
  max-height: 80vh;
}

.entry-container {
  width: 100%;
}

.entry {
  border-bottom: solid #eeeeee;
  padding: 10px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.entry-input {
  flex-grow: 1;
}

.entry-input:focus {
  outline: none;
}

.entry-checkbox {
  margin-right: 10px;
}

.entry-button {
  width: 20px;
  height: 20px;
  color: #aaaaaa;
  margin-left: 5px;
}

.entry-button:hover {
  color: black;
}

.entry-done {
  text-decoration: line-through;
  color: #aaaaaa
}

/* Edit form styling */

#edit-form {
  background-color: white;
}

#edit-form input {
  border: solid #eeeeee;
  padding: 2px 6px 2px 6px;
  border-radius: 10px;
  width: 100%;
}

#edit-form button {
  border: solid #eeeeee;
  margin-right: 7.5px;
}

#edit-form .edit-element {
  margin: 16px 0px;
}

#edit-form button.category {
  border-radius: 7.5px;
  padding: 5px 10px;
}

#edit-form .weekday {
  border-radius: 100%;
  width: 35px;
  height: 35px;
}

#edit-form .button-container button {
  border-radius: 7.5px;
  padding: 5px 10px;
}

#edit-form button:hover {
  border: solid black;
  /* background-color: #eeeeee; */
}

#edit-form .selected-category {
  background-color: lightgreen;
}

#edit-form .selected-day {
  background-color: lightgreen;
}

/* 
#edit-form .submit-button {
  border: solid black;
  background-color: black;
  color: white;
}

#edit-form .submit-button:hover {
  background-color: white;
  color: black
} */

/* 
Floating button
.add-button {
  position: absolute;
  background-color: black;
  color: white;
  border-radius: 100%;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 20px;
  padding-bottom: 5px;
} */

.add-button {
  background-color: black;
  color: white;
  border-radius: 100%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin-top: 15px;
  padding-bottom: 5px;
}

.add-button:hover {
  background-color: white;
  color: black;
  border: black solid;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

@tailwind base;
@tailwind components;
@tailwind utilities;
